<h3>For issue #<%= @issue.git_number %> in <%= "#{@issue.repo.owner_name}/#{@issue.repo.name}" %></h3>

  <%= form_for(@bounty) do |f| %>
    <%= f.label :price %> <br />
    <p><%= f.text_field :price %></p>
    <%= f.submit 'Create Repo', :class => 'btn btn-success' %>
<% end %>

<%    submit_path = "/#{@issue.repo.owner_name}/#{@issue.repo.name}/issues/#{@issue.git_number}/bounty" %>