<h1>New bounty</h1>

<%#= render 'form' %>
<%= form_for(@bounty) do |f| %>
<%= f.text_field :repo_owner %>
<%= f.text_field :repo_name %>
<%= f.text_field :git_number %>
<%= f.text_field :price %>
<% end %>

<%= link_to 'Back', bounties_path %>
